<section class="z-10 relative py-8 antialiased md:py-8">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <!-- Tab Navigation -->
    <div class="mb-4 rounded-lg border border-gray-200 p-4 shadow-sm bg-white dark:bg-gray-800">
      <%= turbo_frame_tag "tabs" do %>
        <%= render 'studio/tab_list', active_tab: @active_tab %>
      <% end %>
    </div>

    <!-- Tab Content -->
    <%= turbo_frame_tag 'tab-content' do %>
      <%= render "studio/tabs/#{@active_tab}", 
            fictions: @fictions, 
            pagy: @pagy, 
            publications: @publications, 
            pokemon_show: @pokemon_show, 
            avatars: @avatars %>
    <% end %>
  </div>
</section>
