<div class="w-full p-4 bg-white border border-2 border-dashed border-gray-300 rounded-lg shadow sm:p-8 col-span-5 2xl:col-span-6 hidden lg:flex justify-center items-center max-h-[40rem]">
  <div class="max-w-screen-xl px-4 py-4 mx-auto">
    <div class="text-center flex flex-col justify-center h-full">
      <div class="space-y-4 sm:space-y-6 lg:space-y-8">
        <h2 class="font-extrabold leading-tight text-gray-900 lg:text-xl xl:text-2xl 2xl:text-3xl">
          Майданчик Покемонів: Лови і Борись!
        </h2>
        <p class="mt-4 font-normal text-gray-500 lg:text-sm xl:text-base 2xl:text-lg">
          Мрієте зібрати їх усіх? Тепер це можливо! Переглядайте та коментуйте дописи і твори,
          а також завантажуйте свої роботи, аби підвищи шанси піймати свого улюбленця!
        </p>
      </div>
    </div>
  </div>
</div>
