<div class="sm:grid sm:grid-cols-12 sm:gap-4">
  <%= render 'users/pokemons/list', pokemons:, selected_pokemon:, descendant: %>
  <%= render 'users/pokemons/dex_leaderboard', dex_leaderboard: %>
  <%= render 'users/pokemons/battle_history', battle_history: %>
</div>
