<div class="sm:grid sm:grid-cols-12 sm:gap-4">
  <%= render 'users/pokemons/list', pokemons: pokemons %>
  <%= render 'users/pokemons/dex_leaderboard', dex_leaderboard: dex_leaderboard %>
  <%= render 'users/pokemons/cta_placeholder', all_pokemon_count: all_pokemon_count, all_caught_count: all_caught_count %>
</div>
