<div class="mt-4 sm:mt-0 flex flex-col w-full">
  <!-- Header Row with Refresh Button -->
  <div class="flex justify-between items-center w-full mb-4">
    <h5 class="flex items-center text-xl font-bold leading-none text-gray-900 dark:text-gray-100">
      Мій Виклик
    </h5>
  </div>

  <% if cooldown?(User.find(current_user.id)) %>
    <%= render 'users/pokemons/cooldown', dex_overall: %>
  <% else %>
    <%= render 'users/pokemons/leaderboard_record', dex_overall:, opponent: %>
  <% end %>
</div>
