<li class="py-3">
  <div class="flex items-center space-x-4">
    <div class="flex-1 truncate">
      <%= tag.p class: 'text-gray-800 flex items-center' do %>
        <%= tag.span scanlator.title, class: 'ml-2 text-xl sm:text-2xl flex-1 min-w-0' %>
      <% end %>
    </div>
    <div class="inline-flex items-center">
      <%= link_to edit_scanlator_path(scanlator.slug), data: { turbo: false } do %>
        <svg class="w-6 h-6 text-gray-800 transform transition duration-500 hover:scale-110" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.109 17H1v-2a4 4 0 0 1 4-4h.87M10 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm7.95 2.55a2 2 0 0 1 0 2.829l-6.364 6.364-3.536.707.707-3.536 6.364-6.364a2 2 0 0 1 2.829 0Z"/>
        </svg>
      <% end %>
      <%= sweetalert(
        '<svg class="ml-2 w-6 h-6 text-gray-800 transform transition duration-500 hover:scale-110" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h16M7 8v8m4-8v8M7 1h4a1 1 0 0 1 1 1v3H6V2a1 1 0 0 1 1-1ZM3 5h12v13a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V5Z"/></svg>'.html_safe,
        { description: I18n.t('sweetalert.scanlators.description'), message: I18n.t('sweetalert.scanlators.message'), tag_id: nil, url: scanlator_path(scanlator) }
      ) %>
    </div>
  </div>
</li>
