<div class="grid grid-cols-1 md:grid-cols-2 gap-0 divide-y-0">
  <% scanlators.each do |scanlator| %>
    <%= render 'scanlators/team_card', scanlator: scanlator %>
  <% end %>
</div>

<%= ui_pagination(
      pagy,
      frame_id: 'tab-content',
      form_path: studio_index_path(tab: 'teams'),
      turbo_stream: true,
      html: { class: 'p-6' }
    ) %>
