<div class="mt-4 sm:mt-0 lg:mt-4">
  <div class="relative hidden lg:block">
    <%= render 'shared/divider_shiny_pink', caption: 'Оновлення' %>
  </div>
  <div class="relative float-left w-full mt-0">
    <%= render latest %>
  </div>
</div>
