<div class="lg:mt-4 ml-4">
  <div class="hidden lg:block">
    <%= render 'shared/divider_shiny_pink', caption: 'Популярне' %>
  </div>
  <div class="relative float-left w-full mt-0">
    <%= render popular %>
  </div>
</div>
