<%= tag.div class: 'float-left' do %>
  <div>
    <div class="flex justify-between items-center mt-6">
      <%= render 'shared/divider_shiny_pink', caption: 'Відео' %>
    </div>
    <div class="flex justify-center">
      <div class="lg:grid grid-cols-3 gap-2 mb-4 mx-auto lg:mx-0 w-[96%] font-oswald">
        <%= render 'youtube_videos/other_videos_desktop', other_videos: videos %>
        <%= render 'youtube_videos/other_videos_mobile', other_videos: videos %>
      </div>
    </div>
  </div>
<% end if videos.any? %>
