<div class="w-full float-left pb-14 mt-6">
  <div class="w-full relative float-left">
    <div class="h-full lg:w-[1250px] my-0 mx-auto">
      <header class="mt-4 w-full float-left relative block">
        <% if @tag.present? %>
          <%= render 'tag_page', results: @results, fictions: @fictions, videos: @videos %>
        <% else %>
          <%= render 'search_page', results: @results, fictions: @fictions, videos: @videos %>
        <% end %>
      </header>
    </div>
  </div>
</div>