<section class="h-full gradient-form flex justify-center">
  <div class="container">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="block bg-white rounded-lg">
        <div class="lg:flex lg:flex-wrap g-0 p-10 shadow-lg">
          <div class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none">
            <img class="w-full rounded-md bg-white/5 ring-1 ring-white/10" src="https://www.barnesandnoble.com/blog/wp-content/uploads/2016/10/manga-about-making-manga.jpg" alt="dashboard image">
          </div>
          <div class="lg:w-6/12 px-4 md:px-0">
            <div class="md:p-4 md:mx-6">
              <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 text-center">Творіть разом з Бакою!</h2>
              <p class="mb-6 font-light text-gray-500 md:text-lg text-left">
                Мрієш стати аніме-блогером? Маєш, що сказати? А може написати огляд на улюблену манґу?
              </p>
              <p class="mb-6 font-light text-gray-500 md:text-lg text-left">
                Бака створено, аби надати кожному бажаючому таку нагоду! Долучайтеся до найбільшої аніме-спільноти Україні вже зараз!
              </p>
              <div class="mx-auto max-w-screen-sm text-center lg:mb-2 mb-1">
                <%= link_to "Створити Публікацію", static_variables[:new_publication_path], class: "inline-flex items-center text-indigo-700 hover:text-white border border-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
