<section class="h-full gradient-form py-4 lg:py-8 xl:py-16 z-10">
  <div class="md:container md:shadow-2xl mx-auto max-w-7xl pl-4 grid-cols-12 relative">
    <div class="container py-2 px-10 mx-0 min-w-full flex flex-col items-center">
      <%= tag.p static_variables[:publication_edit_header], class: 'font-oswald text-xl text-gray-800 font-semibold' %>
    </div>

    <%= simple_form_for publication, as: :publication, url: publication_path(publication), method: :put, html: { class: "form" } do |f| %>
      <%= render 'publications/form', publication: publication, f: f %>
    <% end %>
  </div>
</section>
