<main class="container mx-auto px-5">
  <div class="mt-3">
    <%= render 'blogs/status_alert', status: publication.status, message: publication.status_message if controller_path == 'blogs' %>
  </div>
  <div class="container py-2 px-10 mx-0 min-w-full flex flex-col items-center">
    <%= tag.p static_variables[:publication_edit_header], class: 'text-lg text-gray-900 font-semibold' %>
  </div>

  <%= simple_form_for publication, as: :publication, url: publication_path(publication), method: :put, html: { class: "form" } do |f| %>
    <%= render 'publications/form', publication: publication, f: f %>
  <% end %>
</main>
