<header class="w-full relative mb-4 block">
  <%= tag.h1 publication.title, class: "text-gray-800 font-bold tracking-tight font-oswald w-full mr-0 text-4xl" %>
  <div class="mt-3 flex flex-row justify-between items-center">
    <div class="flex items-center space-x-3 text-gray-500 text-sm mb-2 lg:mb-0">
      <span>
        <%= image_tag url_for(publication.user.avatar.image), alt: publication.user.avatar.blob.filename.to_s, class: 'h-12 rounded-full', height: '48', width: '48' %>
      </span>
      <span>
        <%= tag.span "Опубліковано: #{time_ago_in_words(publication.created_at)} тому", class: 'text-gray-500 float-left' %>
        <%= tag.div publication.username, class: 'text-gray-800 font-bold' %>
      </span>
    </div>
    <aside aria-label="views">
      <button id="font-toggle" type="button" class="text-gray-500 hover:bg-gray-100 rounded-lg text-sm p-2.5 float-right">
        <svg class="w-5 h-5 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 2V1h10v1M6 1v12m-2 0h4m3-6V6h6v1m-3-1v7m-1 0h2"/>
        </svg>
      </button>
    </aside>
  </div>
</header>