<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-2 mb-1">
        <%= tag.h2 static_variables[:publication_index_header], class: 'mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900' %>
      </div>
      <% if publications.any? %>
        <%= render 'publications/list', publications: publications %>
      <% elsif controller_path == 'admin/blogs' %>
        <%= render 'admin/blogs/no_blogs_to_moderate' %>
      <% else %>
        <%= render 'publications/cta_create_publication' %>
      <% end %>
  </div>
</section>