<section class="z-10 font-oswald">
  <div class="my-8 px-4 mx-auto max-w-screen-xl lg:mt-12 lg:mb-16 relative">
    <% if publications.any? %>
      <%= turbo_frame_tag 'publications-list' do %>
        <%= render 'users/dashboard/publications', publications: publications, pagy: pagy %>
      <% end %>
    <% else %>
      <%= render 'publications/cta_create_publication' %>
    <% end %>
  </div>
</section>