<div class="w-full relative mb-8">
  <div class="mt-2 w-full relative">
    <%= render 'shared/divider', caption: 'Інші Новини', rose: true %>
    <ul class="grid sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-3 gap-4 list-none w-full">
      <% @more_tales.each do |tale| %>
        <%= link_to tale_path(tale) do %>
          <div class="mt-0 rounded-xl float-left relative w-full lg:w-full md:mb-2">
            <div class="rounded-xl float-left relative w-full overflow-hidden h-36">
              <%= image_tag url_for(tale.cover), alt: tale.cover.blob.filename.to_s, class: "rounded-xl opacity-80 absolute m-auto w-full l-[-9999px] r-[-9999px] h-36 object-cover" %>
            </div>
            <div class="w-full float-left px-0 pt-4 pb-2 flex items-center">
              <%= tag.p tale.title.truncate(65), class: 'font-oswald text-gray-700 float-left text-2xl sm:text-xl md:text-2xl md:leading-6 lg:leading-6 lg:text-xl tracking-tight w-full' %>
            </div>
            <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
