@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
@import 'actiontext.css';
