<div class="flex items-center gap-2">
  <%= link_to new_chapter_path(fiction:), data: { turbo: false }, class: "group flex items-center justify-center w-9 h-9 rounded-xl bg-stone-100 hover:bg-stone-200 transition-all" do %>
    <svg class="w-5 h-5 text-stone-700 group-hover:text-stone-900 transition-all" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
    </svg>
  <% end %>

  <%= link_to edit_fiction_path(fiction.slug), data: { turbo: false }, class: "group flex items-center justify-center w-9 h-9 rounded-xl bg-stone-100 hover:bg-stone-200 transition-all" do %>
    <svg class="w-5 h-5 text-stone-700 group-hover:text-stone-900 transition-all" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.5 4.5L19.5 7.5M4 20h4l10-10-4-4L4 16v4z" />
    </svg>
  <% end %>

  <%= sweetalert(
        delete_icon,
        {
          description: I18n.t('sweetalert.fictions.description'),
          message: I18n.t('sweetalert.fictions.message'),
          tag_id: nil,
          url: fiction_path(fiction, page: params[:page])
        }
      )
  %>

  <%= link_to reading_path(fiction.slug), data: { turbo: false }, class: "px-5 py-2 text-sm font-medium text-stone-900 bg-stone-200 rounded-full hover:bg-stone-300 transition-all flex items-center gap-2" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-stone-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3h14M5 3v18l7-5 7 5V3" />
    </svg>
    Розділи
  <% end %>
</div>
