<div id="section" class="relative p-4 mb-4 bg-gradient-to-b from-indigo-200 to-pink-200 rounded-lg shadow sm:p-4 xl:p-6" data-controller="flowbite">
  <%= render 'users/pokemons/data_screens', pokemon_show: %>
</div>
