<div id="section" class="p-4 mb-4 bg-white rounded-lg shadow sm:p-4 xl:p-6">
  <div>
    <%= turbo_frame_tag 'fictions-list' do %>
      <%= render 'users/dashboard/fictions', fictions: fictions, pagy: pagy, paginators: paginators %>
    <% end %>
  </div>
</div>
