<section class="h-full gradient-form py-8 lg:py-16 xl:py-24 z-10">
  <div class="md:container md:shadow-2xl mx-auto max-w-7xl pl-4 grid-cols-12 relative" data-controller="preview">
    <div class="container py-2 px-10 mx-0 min-w-full flex flex-col items-center">
      <%= tag.p 'Оновити Оголошення', class: 'text-lg text-gray-800 font-semibold' %>
    </div>

    <%= simple_form_for @advertisement, url: admin_advertisement_path(@advertisement), method: :put, html: { class: "form" }, data: { action: "preview#update" } do |f| %>
      <%= render 'admin/advertisements/form', advertisement: @advertisement, f: f %>
    <% end %>
  </div>
</section>
