<section class="bg-white z-10">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 relative">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-2 mb-1">
      <%= tag.h2 'Керування Оголошеннями', class: 'mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-800' %>
    </div>
    <%= render 'admin/advertisements/list', advertisements: @advertisements %>
  </div>
</section>