<div class="grid grid-cols-1 px-4 xl:grid-cols-6 xl:gap-3 z-10 relative font-oswald">
  <div class="col-span-full mb-4 xl:mb-0 mt-2 sm:mt-0">
    <nav class="flex bg-white shadow-lg py-4 px-4 rounded-lg" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-2">
        <li class="inline-flex items-center">
          <a href="/" class="inline-flex items-center text-gray-700 hover:text-gray-900">
            <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
            Головна
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            <span class="ml-1 text-sm font-medium text-gray-400 md:ml-2" aria-current="page">Майстерня</span>
          </div>
        </li>
      </ol>
    </nav>
  </div>
  <div class="col-span-full bg-white shadow-lg rounded-lg mb-4 py-4 xl:col-auto">
    <%= render 'users/dashboard/sidebar' %>
  </div>
  <div class="col-span-5">
    <%= render 'users/dashboard/blogs' %>
  </div>
</div>
