<section class="float-left block w-full">
  <div class="w-full float-left relative">
    <%= render 'shared/divider', caption: 'Оголошення' %>
    <%= render 'shared/ad_body', advertisement: advertisement %>
  </div>
</section>