<%= link_to advertisement.resource, class: "relative block", aria: { label: advertisement.cover.blob.filename } do %>
  <div class="relative overflow-hidden rounded-lg shadow-lg">
    <%= video_tag url_for(advertisement.cover),
                  alt: advertisement.cover.blob.filename.to_s,
                  autoplay: true,
                  class: 'w-full h-auto object-cover transition duration-300 transform hover:scale-105',
                  loop: true,
                  muted: true,
                  playsinline: true,
                  poster: url_for(advertisement.poster) %>
  </div>
<% end %>
