<%# locals: (name:, url:, wrapper_class: nil, link_class: nil) %>
<p class="author flex flex-wrap items-baseline gap-x-2 gap-y-1 text-sm <%= wrapper_class %>">
  <span class="font-bold text-stone-800 dark:text-gray-200">Автор:</span>
  <%= link_to name, url, rel: 'author', class: link_class, data: { turbo: false } %>
</p>
