<li class="">
  <button id="dropdownFictionsLinkDesktop" data-dropdown-toggle="dropdownFictionsDesktop" class="flex justify-between items-center w-full font-medium md:p-0 md:w-auto dark:text-white dark:focus:text-gray-500">Ранобе <svg class="ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>
</li>
<div id="dropdownFictionsDesktop" class="hidden my-4 w-48 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
  <ul class="py-1">
    <li class="">
      <%= link_to 'Покажчик', alphabetical_fictions_path, class: 'block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white' %>
    </li>
  </ul>
  <ul class="py-1">
    <li class="">
      <%= link_to 'Релізи', fictions_path, class: 'block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white' %>
    </li>
  </ul>
</div>
