<div class="flex-grow"></div>
<footer class="p-4 text-center bottom-0 left-0 w-full z-10">
  <%= image_tag 'logo.svg', class: 'h-14 w-auto lg:block ml-auto mr-auto mb-2', alt: 'logo' %>
  <span class="font-oswald text-lg text-gray-300">© <%= Time.zone.now.year %> Бака™. Всі права захищені.</span>
</footer>
