<button id="dropdownMenuIconButton" data-dropdown-toggle="dropdownDots" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" type="button">
  <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
  </svg>
</button>

<!-- Dropdown menu -->
<div id="dropdownDots" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
  <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownMenuIconButton">
    <li>
      <%= link_to 'Головна', root_path, class: 'block px-4 py-2 hover:bg-gray-100' %>
    </li>
  </ul>
</div>