<ul class="hidden md:flex flex-row <%= mobile ? 'sm:flex md:hidden flex-row items-center justify-center' : 'md:flex flex-row' %>">
  <% trendings.each do |trending| %>
    <li class="relative">
      <%= link_to trending.name, search_index_path(search: [trending.name]), class: "font-oswald font-light text-emerald-300 #{ mobile ? 'text-xl' : 'text-lg lg:text-xl' } px-2 lg:px-3 hover:text-emerald-100 mr-2" %>
      <% unless trendings.last == trending %>
        <span class="absolute top-1/2 right-0 transform -translate-y-1/2 w-2 h-2 bg-gray-300 rounded-full"></span>
      <% end %>
    </li>
  <% end %>
</ul>
