<section class="mb-32 text-gray-800 text-center">
  <h2 class="text-3xl mb-12 mt-12 font-bold text-center tracking-normal leading-none">Новини</h2>
  <div class="grid lg:grid-cols-3 gap-6 xl:gap-x-12 mb-6">
    <%= render partial: "publication", collection: @publications %>
    <%= render partial: "next_page" %>
  </div>
</section>
