<section class="mb-32 text-gray-800 text-center">
  <h2 class="text-3xl mb-12 mt-12 font-bold text-center tracking-normal leading-none">Новини</h2>
  <%= render "home/publications", publications: @publications %>
  <%= render partial: "next_page" %>
</section>
