<div class="w-full bg-white">
  <div class="lg:w-[1200px] m-auto">
    <section class="z-10 w-full relative float-left">
      <div class="sm:mr-[340px]">
        <div class="w-full relative float-left">
          <div class="relative sm:float-right w-full lg:w-[60%]">
            <%= render 'hero_center', publications: @highlights %>
          </div>
          <div class="relative sm:float-left w-full lg:w-80 mr-5">
            <%= render 'hero_left', publications: @most_popular %>
          </div>
        </div>
      </div>
      <div class="relative sm:float-left lg:ml-5 w-full sm:w-80">
        <%= render 'hero_right', publications: @newest %>
      </div>
    </section>
  </div>
</div>