<div class="float-left w-full">
  <div class="m-auto lg:w-[1250px] h-full">
    <div class="relative float-left w-full mt-4">
      <%= render 'shared/divider', caption: 'Більше Новин', rose: true %>
      <div class="relative float-left w-full sm:-mr-96">
        <main class="mr-2 lg:mr-96">
          <div class="relative float-left w-full">
            <ul class="relative float-left w-full list-none mx-[0.1rem] xl:ml-0">
              <%= render "home/publications", publications: @publications %>
              <%= render "next_page", pagy: @pagy %>
            </ul>
          </div>
        </main>
        <aside class="sticky top-8 invisible lg:visible float-right h-[45rem]">
          <div class="float-left relative ml-14 w-80">
            <%= render 'shared/videos', videos: @videos %>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>