<div class="flex justify-end items-center px-4">
  <button id="fictionsFilterDefault" data-dropdown-toggle="fictionsFilter" class="flex items-center space-x-1 px-4 py-2 text-gray-800 hover:bg-gray-200">
    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6h-2m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4"/>
    </svg>
    <span class="uppercase text-sm">Цідило</span>
  </button>

  <%= turbo_frame_tag 'fiction-list-filters' do %>
    <%= render 'fiction_list_filters' %>
  <% end %>
</div>
