<section class="z-10 relative font-oswald min-h-[32rem]">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Даруйте, та збігів за запитом не знайдено.</p>
      <p class="mb-4 tracking-tight font-bold text-gray-500">Спробуйте інші цідила.</p>
    </div>
  </div>
</section>
