<li class="flex">
  <%= tag.span stats[:total_chapters], class: 'text-4xl font-extrabold lg:text-5xl' %>
  <div class="block pl-4 text-xl text-gray-500">
    <div>Завантажено</div>
    <div>розділів</div>
  </div>
</li>
<li class="flex">
  <%= tag.span stats[:total_fictions], class: 'text-4xl font-extrabold lg:text-5xl' %>
  <div class="block pl-4 text-xl text-gray-500">
    <div>Завантажено</div>
    <div>творів</div>
  </div>
</li>
<li class="flex">
  <%= tag.span stats[:total_views], class: 'text-4xl font-extrabold lg:text-5xl' %>
  <div class="block pl-4 text-xl text-gray-500">
    <div>Всього</div>
    <div>прочитань</div>
  </div>
</li>
