<div class="<%= wrapper_classes %>">
  <% genres.each do |genre| %>
    <%= render Ui::GenrePageTagComponent.new(
          variant: :genre,
          label: genre[:name],
          href: fiction_genre_fictions_path(genre[:slug])
        ) %>
  <% end %>
</div>
