<div class="flex flex-wrap items-center gap-2" data-controller="search-filter">
  <% tabs.each do |tab| %>
    <%= render Ui::TagComponent.new(
          label: tab.label,
          variant: :keyword,
          size: :md,
          count: tab.count,
          current: tab.selected,
          as: :button,
          html: {
            class: 'cursor-pointer',
            data: {
              action: 'click->search-filter#filter',
              search_filter_url_value: tab.url
            }
          }
        ) %>
  <% end %>
</div>
