<div class="<%= wrapper_classes %>">
  <% labels.each do |label| %>
    <%= render Ui::TagComponent.new(
          label: label,
          variant: variant,
          size: size,
          href: href_for(label),
          current: current?(label),
          count: count_for(label)
        ) %>
  <% end %>
</div>
