<div class="<%= wrapper_classes %>">
  <% visible_labels.each do |label| %>
    <% tag_href = href_for(label) %>
    <%= render Ui::TagComponent.new(
          label: label,
          variant: variant_for(label),
          size: size,
          as: tag_href.present? ? :link : :span,
          href: tag_href,
          current: current?(label),
          count: count_for(label),
          html: tag_html
        ) %>
  <% end %>
  <% if overflow_count.positive? %>
    <%= render Ui::TagComponent.new(
          label: "+#{overflow_count}",
          variant: :genre,
          size: size,
          as: :span
        ) %>
  <% end %>
</div>
