<div class="<%= wrapper_classes %>">
  <% tag_groups.each do |group| %>
    <% if group[:type] == :adult_cluster %>
      <div class="inline-flex flex-nowrap items-center gap-1">
        <% group[:labels].each do |label| %>
          <%= render_tag(label) %>
        <% end %>
      </div>
    <% else %>
      <%= render_tag(group[:label]) %>
    <% end %>
  <% end %>
  <% if overflow_count.positive? %>
    <%= render Ui::TagComponent.new(
          label: "+#{overflow_count}",
          variant: :genre,
          size: size,
          as: :span
        ) %>
  <% end %>
</div>
