<div class="relative mx-auto overflow-hidden">
  <div class="flex flex-col items-center px-4 sm:px-10 py-8 text-center relative z-10">
    <h1 class="text-lg font-extrabold tracking-tight text-gray-900 uppercase mb-2">
      Вітаємо на Арені!
    </h1>
    <p class="text-xs sm:text-sm text-gray-600 font-medium">
      На вас чекає <span class="text-cyan-700 font-semibold">епічне протистояння</span> між
      <span class="text-sm sm:text-base font-semibold text-gray-900">
        <%= attacker_name %>
      </span>
        та
      <span class="text-sm sm:text-base font-semibold text-gray-900">
        <%= defender_name %>
      </span>
    </p>
  </div>
</div>
