<div class="px-8 py-5 rounded-xl shadow text-center inline-block border border-gray-200">
  <h2 class="text-sm sm:text-base font-extrabold text-gray-900 mb-2 uppercase tracking-wide">
    Бій завершено!
  </h2>
  <p class="text-xs sm:text-sm text-gray-700 font-medium">
    Останній покемон
    <span class="font-semibold text-red-700"><%= loser_name %></span>
    вибуває з гри —
    <span class="font-semibold text-cyan-700"><%= winner_name %></span>
    здобуває перемогу у цьому поєдинку!
  </p>
</div>
