<div class="flex mt-4 m-auto w-[95%] lg:w-[768px] h-full">
  <div class="mx-px w-full lg:w-full">
    <div class="bg-gray-100 dark:bg-gray-800 p-4 rounded-lg">
      <div id="user-content" class="text-lg sm:text-xl md:text-xl mb-2 text-gray-500 dark:text-gray-300">
        <%= chapter.content %>
      </div>
    </div>
  </div>
</div>
