<%= render 'shared/divider_shiny_green', caption: 'Оновлення команди' %>
<div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
  <% more_from_author.limit(4).each do |fiction| %>
    <div class="rounded-md relative bg-gray-300 dark:bg-gray-900 bg-opacity-10 rounded-lg">
      <%= link_to fiction_path(fiction) do %>
        <div class="flex justify-center relative">
          <%= image_tag url_for(fiction.cover), alt: fiction.cover.blob.filename, class: 'h-28 sm:h-52 md:h-72 w-full object-cover rounded-md shadow-lg' %>
          <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
        </div>
      <% end %>
      <div class="w-full float-left rounded-xl mb-1 sm:px-2">
        <%= tag.h3 fiction.title, class: 'line-clamp-2 mt-2 mb-1 text-center text-xs sm:text-sm md:text-base text-gray-900 dark:text-white mb-4' %>
      </div>
    </div>
  <% end %>
</div>