<footer class="relative z-10 border-t border-stone-200/70 py-4 text-center text-xs text-stone-700 dark:border-zinc-800/40 dark:text-stone-400">
  <p>
    © 2023-<%= Time.zone.now.year %>
    <a href="/" class="hover:text-stone-900 hover:underline dark:hover:text-stone-300">baka.in.ua™</a>.
    Всі права захищені.
  </p>
</footer>
