<section class="z-10 relative font-oswald bg-gray-100 dark:bg-gray-900 min-h-screen">
  <div class="container mx-auto px-4 py-8">
    <%= render 'hero', chapter: @chapter, fiction: @chapter.fiction %>

    <div class="max-w-4xl mx-auto bg-white dark:bg-gray-800 rounded-xl shadow-lg overflow-hidden">
      <div class="p-6">
        <%= render @chapter %>
      </div>
    </div>
  </div>

  <div class="max-w-4xl mx-auto">
    <%= render 'chapter_navigation', previous_chapter: @previous_chapter, next_chapter: @next_chapter %>
  </div>

  <div class="max-w-4xl mx-auto rounded-xl overflow-hidden">
    <div class="p-6">
      <%= render 'comments/index', comments: @comments, comment: @comment, commentable: @commentable %>
    </div>
  </div>
</section>
