<% if current_user.nil? %>
<% elsif unique_chapters(fiction.chapters).size >= fiction.total_chapters && fiction.status.to_sym == :finished %>
<% else %>
  <%= tag.div class: 'mt-8 lg:max-w-3xl p-8 mx-auto space-y-6 border border-[#00BFFF]/30 rounded-xl bg-gradient-to-br from-[#001F3F] to-[#000C1F] overflow-hidden shadow-2xl relative' do %>
    <div class="absolute top-0 left-0 w-full h-2 bg-gradient-to-r from-[#00BFFF] via-[#FF78AC] to-[#FFFF00]"></div>
    <h3 class="text-2xl font-bold text-[#00BFFF] mb-4">Продовжіть історію!</h3>
    <p class="text-[#FFFF00] leading-relaxed">
      Ви - <span class="text-[#00BFFF] font-semibold">автор</span> чи <span class="text-[#FF78AC] font-semibold">перекладач</span> і бажаєте продовжити цю захоплюючу історію?
      <span class="block mt-2 text-lg font-medium text-white">Долучіть свій талант та креативність!</span>
    </p>
    <%= link_to new_chapter_path(fiction: fiction), class: 'inline-flex items-center px-6 py-3 mt-4 text-lg font-semibold text-white bg-gradient-to-r from-[#00BFFF] to-[#FF78AC] rounded-full hover:from-[#0099FF] hover:to-[#FF5C8F] transition duration-300 transform hover:scale-105 shadow-lg hover:shadow-[#00BFFF]/50', data: { turbo: false } do %>
      Додати новий розділ
      <svg class="ml-2 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    <% end %>
  <% end %>
<% end %>
