<div class="border-b border-gray-200 flex justify-center">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500">
    <% grouped_chapters_desc(fiction).each do |scanlator_id, chapters|
      selected = (scanlator_id.join('-') == selected_scanlator_id.join('-'))
      scanlator_ids = scanlator_id
    %>

      <li class="mr-2">
        <%= turbo_frame_tag 'alternative-tabs' do %>
          <%= link_to fiction_path(fiction, translator: scanlator_id, order:), data: { turbo_stream: "" }, class: "inline-flex items-center justify-center p-4 rounded-t-lg group #{selected ? 'text-emerald-700 border-b-2 border-emerald-700' : 'border-b-2 border-transparent hover:text-emerald-600 hover:border-emerald-300' }" do %>
            <%= Scanlator.where(id: scanlator_ids).pluck(:title).to_sentence %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
