<%# locals: fiction:, reading_progress:, order: %>
<section>
  <div class="flex flex-wrap items-end justify-between gap-y-2 gap-x-3 mb-4 sm:mb-6">
    <h3 class="text-xl sm:text-2xl font-bold text-stone-800 dark:text-gray-200">Розділи</h3>
    <%= button_to toggle_order_fictions_path(id: fiction, order: order),
                  data: { turbo_stream: '', 'turbo-method': :post },
                  id: 'toggle-fictions-order',
                  class: 'bg-stone-100 dark:bg-gray-800 hover:bg-stone-200 dark:hover:bg-gray-700 text-stone-700 dark:text-gray-300 py-2 px-3 sm:px-4 rounded-full transition duration-300 flex items-center space-x-2 group shrink-0' do %>
      <span class="sr-only"><%= order.to_sym == :desc ? 'Показати від першого розділу' : 'Показати від останнього розділу' %></span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transition-transform duration-300 group-hover:rotate-180" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4" />
      </svg>
    <% end %>
  </div>

  <div data-controller="flowbite" class="mt-4 sm:mt-6">
    <%= render 'chapter_list', fiction: fiction, reading_progress: reading_progress, order: order %>
  </div>
</section>

<script>
  document.addEventListener('turbo:load', function() {
    const toggleButton = document.getElementById('toggle-fictions-order');
    if (toggleButton) {
      toggleButton.addEventListener('click', function() {
        this.classList.add('animate-spin');
        setTimeout(() => {
          this.classList.remove('animate-spin');
        }, 500);
      });
    }
  });
</script>
