<%# locals: fiction:, reading_progress:, order: %>
<div class="rounded-lg">
  <div id="chapters-list" class="space-y-6">
    <% chapters = order.to_sym == :desc ? ordered_chapters_desc(fiction, viewer: current_user).includes(:scanlators) : ordered_chapters(fiction, viewer: current_user).includes(:scanlators) %>
    <%= render 'chapter_collection', chapters: chapters %>
  </div>
</div>
