<div class="flex items-center justify-center mb-8">
  <ul class="list-none flex flex-wrap items-center justify-center w-[410px] sm:w-[455px] md:w-[515px] lg:w-[565px]" role="navigation">
    <% genres.each do |genre| %>
      <li class="">
        <%= simple_form_for fictions_path, method: :get, data: { turbo_stream: "" } do |f| %>
          <%= hidden_field_tag :genre_id, genre.id %>
          <%= tag.div class: "block px-1 py-0.125 relative no-underline focus:outline-1 focus:outline-dashed #{random_tag_color} hover:bg-opacity-20" do %>
            <%= f.submit "##{genre.name.downcase}", class: "#{ sample_genre == genre ? 'text-emerald-600 hover:text-emerald-700' : 'text-gray-500 hover:text-gray-600' } hover:cursor-pointer transition duration-500 transform hover:scale-110 #{cloud_link_size(genre.fictions.size)}" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
