<div class="h-full lg:w-[1250px] my-0 mx-auto hidden lg:block">
  <% placeholder = true %>
  <%= render 'shared/divider_shiny_green', caption: "Цідило теґів" %>
  <%= render 'filters', genres: genres, sample_genre: sample_genre %>
  <div class="mx-auto w-full grid grid-cols-6 gap-4 pl-1">
    <% other.in_groups_of(6).each do |group| %>
      <% group.each_with_index do |fiction, index| %>
        <% if fiction.present? %>
          <%= render 'other_updates', fiction: fiction, large: true %>
        <% elsif placeholder %>
          <% placeholder = false %>
          <%= render 'placeholder', size: (6 - index) %>
        <% else %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
