<div class="h-full my-0 mx-auto lg:hidden mt-4">
  <% placeholder_mobile = true %>
  <div class="my-2"></div>
  <%= render 'shared/divider', caption: 'Цідило теґів', rose: false %>
  <%= render 'filters' %>
  <div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
    <% other.in_groups_of(4).each do |group| %>
      <% group.each_with_index do |fiction, index| %>
        <% if fiction.present? %>
          <%= render 'mobile_fiction', fiction: fiction %>
        <% elsif placeholder_mobile %>
          <% placeholder_mobile = false %>
          <%= render 'placeholder', size: (4 - index) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
