<div class="w-full float-left pb-14 z-10 font-oswald mt-6">
  <div class="w-full relative float-left">
    <%= render 'index_desktop', latest_updates: @index_presenter.latest_updates, hero_ad: @index_presenter.hero_ad, popular_novelty: @index_presenter.popular_novelty, most_reads: @index_presenter.most_reads, hot_updates: @index_presenter.hot_updates %>
    <%= render 'index_mobile', latest_updates: @index_presenter.latest_updates, hero_ad: @index_presenter.hero_ad, popular_novelty: @index_presenter.popular_novelty, most_reads: @index_presenter.most_reads, hot_updates: @index_presenter.hot_updates %>
    <%= render 'other_section', other: @index_presenter.other, genres: @index_presenter.genres, sample_genre: @index_presenter.sample_genre if @index_presenter.other.any? %>
  </div>
</div>
