#user-content a {
  color: #3598DB;
  text-decoration: underline;
  font-style: italic;
  transition: color 0.3s ease;
}

#user-content a:hover {
  color: #2980B9;
}

#user-content blockquote {
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  border-left: 0.25rem solid #d1d5db;
  border-radius: 0.25rem;
  font-style: italic;
}

#user-content blockquote p {
  margin-bottom: 0;
}

#user-content p {
  margin-bottom: 1.5rem;
}

#user-content h1, #user-content h2, #user-content h3, #user-content h4, #user-content h5, #user-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#user-content img {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 768px) {
  #user-content {
    font-size: 1rem;
  }
}

.selected-image {
  border: 3px solid pink;
  box-shadow: 0 0 5px pink;
}

.flip-card-inner {
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner, .flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  backface-visibility: hidden;
}