#user-content a {
  color: #3598DB;
  text-decoration: underline;
  font-style: italic;
}

#user-content blockquote {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left: 0.25rem solid #d1d5db;
  background-color: #f9fafb;
}

#user-content p {
  margin-bottom: 7px;
}

.selected-image {
  border: 3px solid pink;
  box-shadow: 0 0 5px pink;
}

.no-ads .google-auto-placed:nth-child(1) {
  display: none !important;
}
