<section class="h-full gradient-form flex justify-center">
  <div class="container">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="block bg-white rounded-lg">
        <div class="lg:flex lg:flex-wrap g-0 p-10 shadow-lg">
          <div class="lg:w-6/12 flex items-center justify-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none">
            <img class="w-full rounded-md bg-white/5 ring-1 ring-white/10" src="https://imgix.ranker.com/user_node_img/4374/87466983/original/anya-forger-u218362898?auto=format&q=60&fit=crop&fm=pjpg&dpr=2&w=375" alt="dashboard image">
          </div>
          <div class="lg:w-6/12 px-4 md:px-0 flex items-center justify-center">
            <div class="md:p-4 md:mx-6">
              <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-800 text-center">Наразі Дописи для Модерації Відсутні</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
