name: Run Tests

on:
  push:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: mypassword
          MYSQL_DATABASE: tanooki_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
      elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
        ports:
          - 9200:9200
          - 9300:9300
        options: >-
          --health-cmd="curl -f http://localhost:9200/_cluster/health || exit 1"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y default-libmysqlclient-dev
          sudo gem install bundler -v 2.3.7
          bundle install
      - name: Compile assets
        run: |
          bundle exec rails assets:precompile RAILS_ENV=test
      - name: Run tests
        run: |
          bundle exec rake test
