<div style="max-width: 600px; margin: 0 auto; padding: 32px; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.4; color: #333; background-color: #f9f9f9;">
  <h1 style="font-size: 24px; font-weight: bold; margin-bottom: 16px;">Вітаємо, <%= @resource.name %>!</h1>
  <% if @resource.try(:unconfirmed_email?) %>
    <p>Вашу електронну адресу змінено на <%= @resource.unconfirmed_email %>.</p>
  <% else %>
    <p>Вашу електронну адресу змінено на <%= @resource.email %>.</p>
  <% end %>

  <p style="margin-top: 32px;">З повагою,<br>команда Бака</p>
</div>
