<div style="max-width: 600px; margin: 0 auto; padding: 32px;">
  <h1 style="font-size: 24px; font-weight: bold; margin-bottom: 16px;">Вітаємо, <%= @resource.name %>!</h1>

  <p style="margin-bottom: 16px;">Змінити пароль можливо за посиланням далі:</p>

  <p style="margin-bottom: 16px;">
    <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>"
      style="display: inline-block; padding: 12px 24px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 4px; transition: background-color 0.2s;">Змінити Пароль</a>
  </p>

  <p style="margin-bottom: 16px;">Не зважайте на це повідомлення, якщо не робили запит на зміну пароля.</p>
  <p style="margin-bottom: 16px;">Ваш пароль зміниться, коли ви перейдете за згаданим посиланням та створите новий.</p>

  <p style="margin-top: 32px;">З повагою,<br>команда Бака</p>
</div>