<p>Вітаємо, <%= @resource.name %>!</p>

<p>На жаль, ваш профіль було заблоковано через надмірну кількість невдалих спроб входу.</p>

<p>Натисніть на посилання далі, аби розблокувати свій профіль:</p>

<p><%= link_to 'Розблокувати Профіль', unlock_url(@resource, unlock_token: @token) %></p>

<p>З повагою,<br>
<p>команда Бака</p>
